<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Annie Wiress</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/anonym_K_woman.jpg"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Annie Wiress</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>09.05.2039</dd>
            <dt>Geschlecht:</dt><dd>Weiblich</dd>
            <dt>Grösse:</dt><dd>168</dd>
            <dt>Arbeit:</dt><dd>Oberste Spielmacherin</dd>
            <dt>Lieblingsfarbe:</dt><dd>Lila</dd>
            <dt>Lieblingstier:</dt><dd>Erdmännchen</dd>
            <dt>Lieblingsgetränk:</dt><dd>Flamingo Tears Gin</dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
              <!-- ======= Mentor Section END ======= -->

            <p>
            Annie Geboren und Aufgewachsen im Kapitol. Sie ist ein gebürtiges Beispiel der gehobenen Gesellschaft im 
            Kapitol, ehrgeizig, wahnsinnig eingebildet und dennoch überaus verspielt. Sie wuchs mit ihrem Bruder und 
            ihren Eltern in einer gelb sonnig strahlenden Villa mit vielen bunten Blumen auf. Annie und ihr Bruder Fio 
            haben als Kinder viel zusammengespielt. Fio der zwei Jahre älter ist als Annie war jedoch nie so gut im Verstecken 
            wie Annie es war. Auch in allen anderen Spielen war ihm seine Schwester immer überlegen. Annie war Fio immer 
            einen Schritt voraus. Spielerisches denken, schnelles Handeln und Intelligenz sind ihre Merkmale.<br />
            <br />


            Schon als Kind war Annie ihre Berufung bewusst! Oberste Spielmacherin.
            Sie hatte keinen Gedanken an eine andere Option verworfen. Nach der Schule begann Annie sofort zu Studieren. 
            Sie schloss den Bachelor in «Verschiedenste spiel Strukturen» erfolgreich ab. Auch Der Master in «Legendärer 
            Spiel Vielseitigkeit» war für Annie äusserst interessant und lehrreich. Nach ihrem Studium, bewarb sie sich als 
            Stv. Oberste Spielmacherin. (Die Oberste Spielmacherin ist verantwortlich für alle Aktionen während des Spiels. 
            Sie und nur Sie entscheidet darüber wer wie wo oder was jemand macht.) Die Spielemacher haben Annie sofort aufgenommen. 
            Nach zwei erfolgreichen Spieljahren, wurde Annie sofort befördert und als Oberste Spielmacherin angenommen. 
            Seit 2064 ist Annie als die verrückteste Spielmacherin verantwortlich für die alljährigen Spiele.<br />
            </p>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
