<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Effie Abernathy</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/Effie_Abernathy.jpg"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Effie Abernathy</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>02.04.2040</dd>
            <dt>Geschlecht:</dt><dd>Weiblich</dd>
            <dt>Grösse:</dt><dd>180</dd>
            <dt>Arbeit:</dt><dd>Modedesignerin</dd>
            <dt>Lieblingsfarbe:</dt><dd>Magenta</dd>
            <dt>Lieblingstier:</dt><dd>Schildkröte</dd>
            <dt>Lieblingsgetränk:</dt><dd>Espresso Martini</dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
              <!-- End Mentor Section -->

            <p>
            Die Familie Abernathy gehört seit dem Wiederaufbau von Malum anno 1973 zu den einflussreichsten und 
            wohlhabendsten Familien des Kapitols. Sie haben anfangs mit teuren und exotischen Stoffen aus aller Welt gehandelt. 
            Mit der Zeit hat sich aus dem Handel mit Stoffen das Designen von Kleidern etabliert und so hat sich das 
            Abernathy-Unternehmen nach und nach zum grössten Modeimperium von ganz Malum entwickelt. Alle, welche sich die 
            teure Marke natürlich leisten können, kaufen Kleidung vom Hause Abernathy, wer mit den neuesten Trends mithalten will, 
            hat das Modemagazin von der Modeimperium-Familie abonniert<br />
            <br />

            Die erfolgreichste Designerin der Familie ist Effie. Sie wusste schon in ihrer Kindheit, dass Sie einmal Designerin werden möchte. 
            Bereits mit 16 Jahren hat Effie den Malum Fashion Academy Award gewonnen und mit 20 Jahren hat Sie den Master in Modedesign 
            abgeschlossen. Ihr Markenzeichen sind ihre bunten und ausgefallenen Anzüge für Jedermann. Ich wüsste nicht, wer im Kapitol 
            kein Anzug von Effie im Kleiderschrank hat. <br />
            <br />

            Aktuell brodelt um Effie Abernathy die Gerüchteküche.<br />
            Die sonst so lebensfrohe und unternehmungslustige Frau Abernathy ist in den letzten Wochen nur noch selten zu sehen im Kapitol. 
            Woran das wohl liegen mag?<br />
          </p>
          <h5 class="mt-4">E</h5>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
