<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Das Kapitol</h2>
            <p>
              Das Kapitol ist der Teil von Manum, in dem die Wohlhabenden und Machthabenden 
              des Landes leben. Von dort aus werden die vier Distrikte regiert und kontrolliert. 
              Auch die zahllosen Waren aus den Distrikten fliessen unmittelbar in das Kapitol. 
              Im Kapitol ist der technische Fortschritt gross. Dieser ist aber natürlich nicht hauptsächlich 
              den Menschen dort zu verdanken, sondern den verschiedenen Distrikten. Neben Lebensmittel und 
              Kleidung wird auch technisches Know-How oder zum Beispiel Wissen über Waffen in den Distrikten 
              erschaffen/erforscht und somit vom Kapitol zu dessen eigenen Vorteilen genutzt.
              <br /><br />

              Das Kapitol ist der wohl schönste Ort in ganz Manum. Den Menschen ist ihr Aussehen sehr wichtig. 
              Ihre extravagante Kleidung und ihre äusserst opulenten Make-Ups zeichnen sie aus. 
              Sie leben, verglichen mit den anderen Distrikten, in dekadentem Luxus. Ihre luxuriösen Häuser 
              lassen das Kapitol strahlen. Es hebt sich von allen Distrikten ab. Die Menschen werden als arrogant, 
              selbstverliebt und nicht zu vergessen sehr eingebildet beschrieben. Sie sind die Mächtigsten im ganzen Land. 
              Nichts und niemand wird ihnen das nehmen können. Das Kapitol ist eine Art Zentrum von Glanz und Glamour. 
              <br /><br />

              Alle Tribute begeben sich für den «Kampf der Elemente» ins Kapitol. Im Kapitol gibt es die besten 
              Technologien des Landes. Die Distrikte sind vom Kapitol abhängig, das Kapitol wiederum aber auch von ihnen. 
              Die gesamte Struktur dieser Diktatur ist straff gegliedert. Dies ist schon allein daran zu erkennen, 
              dass den Distrikten einzelne «Gebiete» zugewiesen worden sind. Für die Bewohner Malums sind die Spiele 
              die wichtigste Veranstaltung des Jahres. Sie bereiten ihnen grosses Vergnügen. <br />
              
              Die Spielmacher des Kapitols sind voller Ideen drang und werden alles daran 
              setzten die Spiele so aufregend wie möglich zu gestalten.
              <br /><br /><br /><br />
            </p>
            <h2>Die Spielmacher:</h2>
            <p>Die Spielmacher vom diesjährigen Spiel wurden vom Kapiol im geheimen bestimmt. 
              Um den «Kampf der Elemente» zu planen, haben sie sich zurückgezogen. Es wird vermutet, 
              dass in wenigen Tagen die Bekanntgabe der Spielmachern und die Mentoren von den Distrikte geben wird! </p>

              
          </div>
        </div>
      </section>
      <!-- End content Section -->
    </main>
        <!-- ======= Hero Section ======= -->
        {{ partial "kapitol_picture.html" . }}
        <!-- End Hero -->
    <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
