<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Mae Roman Lancaster</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/Mae_Roman_Lancaster.JPG"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Mae Roman Lancaster</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>08.08.2038</dd>
            <dt>Geschlecht:</dt><dd>Weiblich</dd>
            <dt>Grösse:</dt><dd>172</dd>
            <dt>Arbeit:</dt><dd>Creative World Design</dd>
            <dt>Lieblingsfarbe:</dt><dd>Grau</dd>
            <dt>Lieblingstier:</dt><dd>Braunburstigel </dd>
            <dt>Lieblingsgetränk:</dt><dd>Crystal Cherry </dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
              <!-- End Mentor Section -->

            <p>
              Mae’s Geschichte ist nicht vergleichbar mit Jenen der Leute aus dem Capitol. Nur wer ins Capitol geboren wird gehört zu 
              der High Society. Die Menschen aus den vier Distrikten werden nie auf der Goldtreppe unserer Gesellschaft stehen können. 
              Dies vermag nur ein gebürtiger Mensch. Es gibt nur eine Ausnahme: Mae. Es war ein regnerischer Tag im Capitol. 
              An jenem Dienstag hingen die Wolken tief über der Stadt und die Aussicht war so trüb, dass man meinte, man sei in einem Distrikt. 
              Die Strassen überfüllt mit Wasser. Auf den Gehwegen bekam man nasse Füsse. Maes’ zukünftige Mutter machte sich auf den Weg zur Arbeit, 
              als sie in einem Wasserstrom auf der gegenüberliegenden Strassenseite ein Korb treiben sah. 
              Die graue Weide des Korbes war schon so nass, dass sie fast schwarz schien. Die Frau durchquerte die leere Strasse, 
              um auf die andere Seite zu gelangen. Als sie das triefende Tuch hob, stockte ihr der Atem: Im Korb befand sich ein Kind. 
              Wie kam das Kind dorthin? Schwamm der Korb von den Distrikten bis ins Capitol hinein? Vermeidlich unmöglich. 
              Das Kind konnte allerdings auch nicht aus dem Capitol stammen. Jedes Spital, jede Klinik registriert jedes Neugeborene und 
              pflanzt einen Chip ein. So haben die Machtinhaber eine gute Übersicht. Wenn das Kind also nicht aus dem Capitol stammt 
              (da es nicht gechipt war) aber auch nicht aus den Distrikten kommen kann... von wo kam es dann? Das Kind heisst Mea Roman Lancaster. 
              Niemand weiss, woher sie kam. Doch wichtig ist nur, wo sie heute ist. Suche nicht in der Vergangenheit, mächtig ist die Gegenwart und 
              ungewiss die Zukunft. <br />
              <br />

              Heute arbeitet Mae als crative World Designerin bei den Spielen. Die Natur, die Tiere die ganze Arena entsteht in ihrem Kopf. 
              Jeder noch so kleine Stein, der im Spiel umgedreht werden muss, war einst ihr Gedanke. Ihre kreativen Arbeiten spiegeln sich 
              in der Varietät der vergangenen Arenen wider. Wie die nächste Arena aussehen wird, kann daher keiner voraussagen. 
              Von Schneelandschaft bis Steppenwüste war schon alles dabei.<br />
            </p>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
