<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Oktavius & Titianus Flickermen</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/anonym_K_men.jpg"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Oktavius Flickermen</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>03.03.2033</dd>
            <dt>Geschlecht:</dt><dd>Männlich</dd>
            <dt>Grösse:</dt><dd>196</dd>
            <dt>Arbeit:</dt><dd>Hovercraft Flighter</dd>
            <dt>Lieblingsfarbe:</dt><dd>Bordeaux Rot</dd>
            <dt>Lieblingstier:</dt><dd>Schaf</dd>
            <dt>Lieblingsgetränk:</dt><dd>Tikiwasser</dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
          <div class="row justify-content-center align-items-center">
            <div class="col-md-4 mt-4">
              <div class="mentor-card">
                <img
                  src="/assets/img/Titianus_Flickermen.jpeg"
                  alt="Mentor"
                  class="img-fluid"
                />
                <h5 class="mt-4">Titianus Flickermen</h5>
              </div>
            </div> 

            <div class="col-md-4 mt-4">      
        <p>
          <dl class="grid">
          <dt>Alter:</dt><dd>03.03.2033</dd>
          <dt>Geschlecht:</dt><dd>Männlich</dd>
          <dt>Grösse:</dt><dd>198</dd>
          <dt>Arbeit:</dt><dd>Hovercraft Flighter</dd>
          <dt>Lieblingsfarbe:</dt><dd>Bordeaux Rot</dd>
          <dt>Lieblingstier:</dt><dd>Falcke</dd>
          <dt>Lieblingsgetränk:</dt><dd>Slush Puppy</dd>
          <br />
          </dl>
        </p>
          </div>
        </div>
        <br /><br />
              <!-- End Mentor Section -->

            <p>
              <h5 class="mt-4">O</h5>ktavius und <h5 class="mt-4">T</h5>itianus Wuchsen in schwierigen Verhältnissen auf. Ihre Eltern haben sich kaum um sie gekümmert 
              vor lauter Arbeit wuchsen ihnen die Kinder über den Kopfhinaus. Aus Langeweile und Zeitvertreib haben sich die 
              Buben oft an verbotene Orte geschlichen. Sie fühlten sich dem Verbotenen meist näher verbunden als dem erlaubten. 
              Sie kennen jede noch so kleine verwinkelte Ecke in ganz Manum. An einem nebligen Herbstmorgen stand ein Hovercraft 
              ohne Beaufsichtigung auf dem Flugplatz. Die Zwei haben es natürlich direkt entdeckt. Wie man es sich denken kann haben 
              sie das Flugzeug nach zwei Sekunden in Besitz genommen. Oktavius der 20 Minuten eher auf die Welt kam als Titianus 
              sass am Steuer. Sein Zwillingsbruder auf dem nebensitz. <br />
            <br />

            Durch ihre verbotenen Flugstunden sind die beiden ihrem Traumberuf als Hovercraft Flighters nähergekommen. 
            Einer der obersten Hovercraft Piloten hat sie allerdings entdeckt. Er war nicht Wütend wie man es sich vielleicht 
            vorstellen konnte, sondern überaus begeistert von ihren Flugkünsten! Sie wurden direkt ins Studium aufgenommen. Nach ihrem 
            erfolgreichen Abschluss, haben sich die Zwillinge als Hovercraft Flighters für die all Jährigen Spiele beworben. 
            Nach ein paar ausschlussverfahren haben die Spielmacher im Einklang entschieden sie aufzunehmen. Als Hovercraft Flighter 
            sind sie dafür zuständig den Teilnehmern Nahrung zuzustellen alle im weg liegenden Gegenstände wegzuräumen und ihre 
            Schlafplätze sicherzustellen.<br />
            </p>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
