<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Runa Kunz</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/anonym_K_woman.jpg"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Runa Kunz</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>05.01.2034 </dd>
            <dt>Geschlecht:</dt><dd>Weiblich</dd>
            <dt>Grösse:</dt><dd>163</dd>
            <dt>Arbeit:</dt><dd>Pressesprecherin der Spiele</dd>
            <dt>Lieblingsfarbe:</dt><dd>Giftgrün</dd>
            <dt>Lieblingstier:</dt><dd>Papagei</dd>
            <dt>Lieblingsgetränk:</dt><dd>Zitronensaft</dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
              <!-- End Mentor Section -->

            <p>
              Runa wurde am 5.1.2034 ins Kapitol hineingeboren. Wohl fühlte sie sich allerdings nie. Ihre Herkunft leugnet sie meistens 
              wodurch sie sich auch immer nur mit ihrem Vornamen vorstellt. <br />
            <br />


            Schon seit sie klein ist war sie allerdings sehr interessiert an den jährlichen spielen und hat bislang noch keine 
            einzige Sekunde eines Spieles verpasst. Durch ihr umfangreiches Wissen über alle bislang durchgeführten Spiele und 
            ihr grosses Mundwerk war ihr schnell klar, dass sie die Spiele Moderieren möchte. <br />
            <br />
            Sie ist die erste ihrer Familie die diese Aufgabe im Kapitol hat. Ihr ist es desswegen besonders wichtig, 
            diese Aufgaben besonders gut zu meistern. 
            <br />
          </p>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
