<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Salasar Komudeus</h2>
             <!-- ======= Mentor Section ======= -->
            <div class="row justify-content-center align-items-center">
              <div class="col-md-4 mt-4">
                <div class="mentor-card">
                  <img
                    src="/assets/img/Salasar_Komudeus.JPG"
                    alt="Mentor"
                    class="img-fluid"
                  />
                  <h5 class="mt-4">Salasar Komudeus</h5>
                </div>
              </div> 

              <div class="col-md-4 mt-4">      
          <p>
            <dl class="grid">
            <dt>Alter:</dt><dd>23.01.2036</dd>
            <dt>Geschlecht:</dt><dd>Mänlich</dd>
            <dt>Grösse:</dt><dd>175</dd>
            <dt>Arbeit:</dt><dd>Lead Technik Engineer</dd>
            <dt>Lieblingsfarbe:</dt><dd>Hellblau</dd>
            <dt>Lieblingstier:</dt><dd>Silberwölfe</dd>
            <dt>Lieblingsgetränk:</dt><dd>Hopfentee</dd>
            <br />
            </dl>
          </p>
            </div>
          </div>
          <br /><br />
              <!-- End Mentor Section -->

            <p>
              Salasar war einer der leitende Spielmacher bei den 74. Hungerspielen, der das Spielgeschehen koordinierte und 
              die Techniken in der Arena organisierte. Seine meiste Zeit verbringt er im Kontrollraum, wo er die nächsten Ereignisse plant, 
              um das Spiel stetig auf Spannung zu halten.<br />
            <br />


            Sein Vater der selbst als leitender Erfinder im Spiel-Kontrollraum arbeitete, brachte ihn öfters zu seiner Arbeit mit. 
            So erweckte Salasar seine Leidenschaft zur Technik. Jedoch zog ihn bereits als Junge die Natur und die Tiere an und schlich 
            sich bei Nacht ausserhalb der Grenze. So konnte er einen Ausgleich zum Alltag, dem Druck seiner Familie und Gesellschaft finden. 
            Seine Begabung in der Technik wurden schnell entdeckt und konnte als Jugendlicher viel Erfahrung in der Durchführung 
            der Spiele sammeln. Sein Durchbruch erreichte er indem er seine beiden Leidenschaften Natur und Technik verbindet. 
            Seine grösste Erfindung waren die genmutierten Bienen, welche höchst aggressiv sind und Halluzination hervorrufen. 
            Durch seine Geschicklichkeit und besonders grossen Neugier, wurde er im Kapitol sehr Wertgeschätzt und konnte schnell 
            als Spielmacher aufsteigen. Nun ist er seit 1 Jahre Hauptspielemacher bei den jährlichen Spielen dabei.<br />
            <br />

            Als Ausgleich zum üppigen Kapitolleben, ist er am Abend des Öfteren beim Grenzzaun des Kapitols und beobachtet gerne seine 
            Lieblingstiere, die Silberwölfe. Dabei denkt er an neue Herausforderungen, welche die Spieler im Spiel begegnen werden.
           </p>
           <h5 class="mt-4">S</h5>
             <br /><br />
           
       
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
