<!DOCTYPE html>
<html lang="en">
  {{ partial "head.html" . }}

  <body>
    {{ partial "nav.html" . }}

    <main id="main">
      <!-- ======= content Section ======= -->
      <section class="kapitol">
        <div class="container">
          <div class="section-title">
            <h2>Tribute freischalten</h2>
            <p>
            <center>
            <iframe src="https://websitepublic-iot1.s3.eu-central-1.amazonaws.com/index.html" height="500" width="600" title="Iframe Example"></iframe>
            </center></p>
            
            
          
          
          </div>
        </div>
      </section>
      <!-- End content Section -->
    </main>
        <!-- End #main -->
    {{ partial "footer.html" . }}
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <!-- Vendor JS Files -->
    {{ partial "script.html" . }}
  </body>
</html>
